---
- name: Ensure that backup_target file or directory exists
  become: yes
  find:
    path: "{{ item.value.backup_target }}"
    file_type: any
  with_dict: "{{ backup }}"
  tags:
    - now
    - local
    - remote

- name: Create services directory
  become: yes
  file:
    path: /etc/systemd/rsync-backup.d
    owner: root
    group: root
    mode: 0700
    state: directory
  tags:
    - local
    - remote

- import_tasks: local.yml
  become: yes
  tags:
    - local

- import_tasks: remote.yml
  become: yes
  tags:
    - remote
    
