[Unit]
Description=Performs the backup of {{ item.value.backup_target }} remotely at {{ item.value.remote_safe_path }}.
 
[Timer]
OnCalendar={{ item.value.remote_days_of_week | default(days_of_week) }} *-*-* {{ item.value.remote_backup_hour | default(backup_hour) | default("*") }}:{{ item.value.remote_backup_minute | default(backup_minute) | default("00") }}
Persistent=true
Unit=rsync-backup-remote-{{ item.key }}.service
 
[Install]
WantedBy=timers.target