[Unit]
Description=runs rsync-backup-remote.service at a given time
 
[Timer]
OnCalendar=*-*-* {{ backup.hour }}:{{ backup.minute }}:00
Persistent=true
Unit=rsync-backup.service
 
[Install]
WantedBy=timers.target